<p id="notice"><%= notice %></p>

<h1>Listing Excercises</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Repetitions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @excercises.each do |excercise| %>
      <tr>
        <td><%= excercise.name %></td>
        <td><%= excercise.duration %></td>
        <td><%= excercise.repetitions %></td>
        <td><%= link_to 'Show', excercise %></td>
        <td><%= link_to 'Edit', edit_excercise_path(excercise) %></td>
        <td><%= link_to 'Destroy', excercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Excercise', new_excercise_path %>
