<div class="container text-center programs-list">
    <div class="col-md-3 col-lg-3">
        <% @programs.each do |day, program| %>
            <div class="col-md-12 col-lg-12">
                <div class="thumbnail">
                    <div class="wrapper"></div>
                    <div class="caption">
                        <h3>
                            <%= day.capitalize %>
                            <% if program.active? %>
                                <span class="glyphicon glyphicon-star"></span>
                            <% end %>
                        </h3>
                    </div>

                    <div class="hidden program-form" data-day="<%= day %>">
                        <%= form_tag save_program_path, html: { class: 'form-inline' } do %>
                            <%= hidden_field_tag 'program[day]', day %>

                            <% program.excercises.each do |excercise| %>
                                <%= render partial: 'excercise', object: excercise %>
                            <% end %>

                            <div class="new-excercise">
                                <%= render partial: 'excercise', object: Excercise.new %>
                                <%= render partial: 'excercise', object: Pause.new %>
                            </div>

                            <button type="submit" class="btn btn-success">Save</button>
                            <button class="clear-program btn btn-danger" onClick="clearCurrentProgram()">Clear</button>
                        <% end %>
                    </div>

                    <div class="hidden program-details" data-day="<%= day %>">
                        <div class="row padding-bottom">
                            <div class="col-md-10 col-lg-10 text-left">
                                <h2>Program for <%= day.capitalize %></h2>
                            </div>

                            <div class="col-md-2 col-lg-2">
                                <button class="btn btn-primary edit-program" onClick="editProgramFor('<%= day %>')">Edit</button>
                            </div>
                        </div>

                        <% if program.active? %>
                            <% program.excercises.each do |excercise| %>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <strong><%= excercise.name.capitalize %>.</strong>

                                        <% if excercise.repetitions %>
                                            <strong>Repeat <%= excercise.repetitions_text %>.</strong>
                                        <% else %>
                                            <strong>Perform for <%= excercise.duration_text %>.</strong>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        <% else %>
                            <div class="panel panel-default">
                                    <div class="panel-body">
                                        Nothing planned for <%= day.capitalize %>.
                                    </div>
                                </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="col-md-9 col-lg-9">
        <div class="jumbotron" id="program-box">
            <h2>Bries instructions</h2>

            <ul class="text-left">
                <li>
                    Use the controls on the left to choose the day, you want to set or edit your excercises for.
                </li>

                <li>
                    Days, marked with a star, do have a program set already.
                </li>

                <li>To remove a program, use <strong>Clear</strong> button when editing a program.</li>
            </ul>
        </div>
    </div>
</div>
