<p id="notice"><%= notice %></p>

<p>
  <strong>My Programs:</strong>

  <% @programs.each do |day, program| %>
    <a href="#" class="program-title <%= 'active' if program.active? %>">
        <span class="day"><%= t day %></span>
    </a>

    <div class="program-details">
        <% program.excercises.each do |excercise| %>
            <%= render partial: 'excercise', object: excercise %>
        <% end %>

        <%= render partial: 'excercise', object: Excercise.new %>
    </div>
  <% end %>
</p>